/* @font-face {
  font-family: 'Bebas Neue';
  src: url('../public/fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('../public/fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Thin.woff2') format('woff2'),
      url('../public/fonts/Montserrat-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../public/fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('../public/fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
